.btn{
    width: 100%;
}
.calculate.btn{
width:150px
}
@media only screen and (max-width: 900px) {
    .inpfield{
        float:top !important;
        width:100% !important;

    }
    .inpbutton{
        float:top !important;
        width:50% !important;
        justify-content: center;
        margin:auto;
        min-width: 220px;
    }
  }
@media only screen and (min-width:901px) and (max-width: 1500px) {
    .inpfield{
        float:left !important;
    }
    .inpbutton{
        float:left !important;
    }
  }
  @keyframes customEnterAnimation {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes customLeaveAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }